<main>
  <div class="container">
    <div class="row">
      <div class="col-12 resultado justify-content-center align-items-center">
          <h1>Acceso denegado</h1>
      </div>
      <div class="col-12 resultado justify-content-center align-items-center">
          <h3>lo sentimos... está ruta es para personal autorizado.</h3>
          <img class="denegado" src="/img/objetos/cara_triste.png">
      </div>      
    </div>
  </div>
</main>