<main>
  <div class="container resultado">
    <div class="row resultado">
      <div class="col-12  justify-content-center align-items-center">
        <h1>Objetos Perdidos</h1>
      </div>
      <div class="col-6 justify-content-center align-items-center">
        <p>Aquí podras registrar o buscar tus objetos:</p>
        <ul>
          <li>Regitrate para ingresar un objeto perdido</li>
          <li>Inicia Sesión para regitrar los objetos encontrados</li>
          <li>Busca un Objeto que se te halla perdido</li>
        </ul>
      </div>
      <div class="col-6">
        <img class=" obj" src="/img/objetos/home.JPG" alt="">
      </div>
    </div>
  </div>
</main>